<div class="page" ibmGrid [useCssGrid]="true">
  <div ibmCol [columnNumbers]="{ sm: 4, md: 8, lg: 16, xlg: 16 }">
    <h1 *ngIf="title">{{ title }}</h1>
    <ng-content select="[title]" *ngIf="!title"></ng-content>
    <p *ngIf="description">{{ description }}</p>
    <ng-content select="[description]" *ngIf="!description"></ng-content>
  </div>

  <div ibmCol [columnNumbers]="{ sm: 4, md: 3, lg: 3, xlg: 3 }">
    <div class="page__separator"></div>
  </div>

  <div ibmCol [columnNumbers]="{ sm: 4, md: 8, lg: 16, xlg: 16 }">
    <ng-content></ng-content>
  </div>
</div>
